@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Holtwood;
  src: url(../fonts/HoltwoodOneSC-Regular.ttf);
}

@font-face {
  font-family: Hammersmith;
  src: url(../fonts/HammersmithOne-Regular.ttf);
}

.holtwood{
  font-family: "Holtwood", serif;
  font-weight: 800;
  font-style: normal;
}

.hammersmith{
  font-family: "Hammersmith", sans-serif;
  font-weight: 400;
  font-style: normal
}