@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

.holtwood{
  font-family: "Holtwood One SC", serif;
  font-weight: 800;
  font-style: normal;
}
