@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.holtwood{
  font-family: "Holtwood One SC", serif;
  font-weight: 800;
  font-style: normal;
}

.hammersmith{
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal
}